@using GestaoDeEquipamentos.WebApp.Models
@{
    Layout = "_Layout";

    ViewData["Title"] = "Cadastro de Fabricantes";
}

@model CadastrarFabricanteViewModel

<main class="container my-4">
    <div class="row">
        <form class="col-6" action="/Fabricante/Cadastrar" method="post">

            <div class="mb-3">
                <label for="Nome" class="form-label">Nome:</label>
                <input value="@Model.Nome" name="Nome" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">E-mail:</label>
                <input value="@Model.Email" name="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone:</label>
                <input value="@Model.Telefone" name="Telefone" class="form-control" />
            </div>

            <div class="text-end">
                <a href="/Fabricante" class="btn btn-outline-primary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>

        </form>

    </div>
</main>