@using GestaoDeEquipamentos.Dominio.ModuloFabricante

@{
    Layout = "_Layout";

    ViewData["Title"] = "Edição de Fabricantes";
}


@model Fabricante;

<main class="container my-4">
    <div class="row">
        <form class="col-6" action="/Fabricante/Editar/@Model.Id" method="post">

            <div class="mb-3">
                <label for="Nome" class="form-label">Nome:</label>
                <input class="form-control" name="Nome" value="@Model.Nome" />
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">E-mail:</label>
                <input class="form-control" name="Email" value="@Model.Email" />
            </div>

            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone:</label>
                <input class="form-control" name="Telefone" value="@Model.Telefone" />
            </div>

            <div class="text-end">
                <a href="/Fabricante" class="btn btn-outline-primary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>

            </div>

        </form>

    </div>
</main>