@using GestaoDeEquipamentos.Dominio.ModuloFabricante
@using GestaoDeEquipamentos.WebApp.Models

@{
    Layout = "_Layout";

    ViewData["Title"] = "Exclusão de Fabricantes";
}

@model ExcluirFabricanteViewModel;

<main class="container my-4">
    <div class="row">
        <form class="col-6" action="/Fabricante/ExcluirConfirmado/@Model.Id" method="post">

            <p class="mb-3">
                Você tem certeza que deseja excluir o fabricante <strong>@Model.Nome</strong>?
            </p>

            <div class="text-end">
                <a href="/Fabricante" class="btn btn-outline-danger">Voltar</a>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este fabricante?')">Confirmar</button>
            </div>

        </form>
    </div>
</main>