@using GestaoDeEquipamentos.Dominio.ModuloFabricante
@using GestaoDeEquipamentos.WebApp.Models

@{
    Layout = "_Layout";

    ViewData["Title"] = "Visualização de Fabricantes";
}



@model VisualizarFabricantesViewModel

<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary" href="/Fabricante/Cadastrar">+ Novo Fabricante</a>
    </div>
</div>


<div class="row g-3">

    @foreach (DetalhesFabricanteViewModel f in Model.Registros)
    {
        <div class="col-3" >

            <div class="card h-100 bg-dark border-secondary">
                <div class="card-body">
                    <h5 class="card-title">@f.Nome</h5>
                    <p class="card-text mb-1"><strong>Email:</strong> @f.Email</p>
                    <p class="card-text"><strong>Telefone:</strong> @f.Telefone</p>
                </div>
                <div class="card-footer text-end border-secondary">
                    <a class="btn btn-sm btn-primary me-1" href="/Fabricante/Editar/@f.Id">
                        <i class="bi bi-pencil-square "></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="/Fabricante/Excluir/@f.Id">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>