@using GestaoDeChamados.WebApp.Models
@using GestaoDeEquipamentos.Dominio.ModuloEquipamento;
@using GestaoDeEquipamentos.WebApp.Models

@{
    Layout = "_Layout";

    ViewData["Title"] = "Exclusão de Chamados";
}

@model ExcluirChamadoViewModel;

<main class="container my-4">
    <div class="row">
        <form class="col-6" action="/Chamado/ExcluirConfirmado/@Model.Id" method="post">

            <p class="mb-3">
                Você tem certeza que deseja excluir o chamado <strong>@Model.Titulo</strong>?
            </p>

            <div class="text-end">
                <a href="/Chamado" class="btn btn-outline-danger">Voltar</a>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este chamado?')">Confirmar</button>
            </div>

        </form>
    </div>
</main>